<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="https://binder-sa.com/assets/logo/app-logo-transparent.gif" alt="logo">
    </a>



    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button" (click)="openWishListModal()">
            <i class="pi pi-heart mr-2"></i>
            <span>Favourite</span>
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-shopping-cart mr-2"></i>
            <span>Cart</span>
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-user mr-2"></i>
            <span>Profile</span>
        </button>
   
    </div>
</div>