<p-sidebar [visible]="showModal$|async" position="right" [showCloseIcon]="false"
    [ngStyle]="{'display': (showModal$|async) ? 'flex' :'none' }">
    <div class="flex justify-content-between mb-2">
        <h3>Profile</h3>
        <i class="pi pi-times cursor-pointer" style="font-size: 1rem" (click)="closeModal()"></i>
    </div>

    <div class="grid">
        <div class="col-12 md:col-12">
            <div class="card">
                <h5>Vertical</h5>
                <div class="field">
                    <label htmlFor="name1">Name</label>
                    <input pInputText id="name1" type="text" />
                </div>
                <div class="field">
                    <label htmlFor="email1">Email</label>
                    <input pInputText id="email1" type="text" />
                </div>
                <div class="field">
                    <label htmlFor="age1">Age</label>
                    <input pInputText id="age1" type="text" />
                </div>
            </div>
   
        </div>
    
 
    
       
    </div>
    
</p-sidebar>