<p-sidebar [visible]="showModal$|async" position="right" [showCloseIcon]="false"
    [ngStyle]="{'display': (showModal$|async) ? 'flex' :'none' }">
    <div class="flex justify-content-between mb-2">
        <h3>Profile</h3>
        <i class="pi pi-times cursor-pointer" style="font-size: 1rem" (click)="closeModal()"></i>
    </div>

    <div class="grid">
        <div class="col-12 md:col-12">
            <form class="card" [formGroup]="profileForm" (submit)="saveProfile()">
                <div class="field">
                    <label htmlFor="dname">Display Name *</label>
                    <input pInputText id="dname" type="text" formControlName="displayName" />
                </div>
                <div class="field">
                    <label htmlFor="fname">First Name *</label>
                    <input pInputText id="fname" type="text" formControlName="firstName" />
                </div>
                <div class="field">
                    <label htmlFor="lname">Last Name</label>
                    <input pInputText id="lname" type="text" formControlName="lastName" />
                </div>

                <div class="field">
                    <label htmlFor="intrest">Your area of intrest</label>

                    <p-multiSelect [options]="intrests" formControlName="areaOfInterest"
                        optionLabel="name"></p-multiSelect>

                </div>
                <div class="field">
                    <label htmlFor="about">About YourSlef</label>
                    <textarea pInputText id="about" type="text" formControlName="aboutYourself"></textarea>
                </div>
                <div class="field">
                    <label for="studentOrProfessional">Are you a student or a professional? *</label>
                    <p-dropdown formControlName="studentOrProfessional" [options]="studentOrProfessional"
                        optionLabel="name" placeholder="Select a City"></p-dropdown>
                </div>
                <div class="field">
                    <label htmlFor="role">Mention your role</label>
                    <textarea pInputText id="role" type="text" formControlName="role"></textarea>
                </div>

                <button type="submit" pButton label="Submit"  [disabled]="!profileForm.valid"></button>
            </form>

        </div>
    </div>


</p-sidebar>