::ng-deep .p-component-overlay {
    display: none !important;
}

::ng-deep .p-button {
    display: flex !important;
    width: 100%;
}

::ng-deep .p-sidebar {
    width: 50dvw !important;
}


@media only screen and (max-width: 768px) {
    ::ng-deep .p-sidebar {
        width: 100dvw !important;
    }
}

input,
textarea {
    // height: 3rem;
    width: 100%;
}